= provide(:title, "Chatizza")

%h1 Chat WebApp
- if user_signed_in?
  = link_to (new_chat_path(@chat)), class:"btn-floating btn-large waves-effect waves-light purple darken-4" do
    = material_icon.add
  %ul.collection
    - @chats.each do |c|
      = link_to (c), class: "collection-item" do
        %li
          %span.title= c.name
          %p= c.admin_id
          %span.new.badge= c.unread_messages
- else
  .notlogged
    = link_to "Sign In", new_user_session_path, class: "waves-effect waves-light btn-large purple darken-4"
    = link_to "Sign Up", new_user_registration_path, class: "waves-effect waves-light btn-large purple darken-4"
